.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2rem;
  .gallery-image {
    flex: 1 1 30rem;
    height: 25rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      margin-bottom: 1rem;
    }
  }
}
.gallery-wrapper__blocks {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  .gallery-image {
    height: 30rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include backgroundCover;
    }
    &:nth-child(9n + 1) {
      grid-column: span 6;
      grid-row: span 2;
    }
    &:nth-child(9n + 2) {
      grid-column: span 4;
      grid-row: span 2;
    }
    &:nth-child(9n + 3) {
      grid-column: span 2;
      grid-row: span 2;
    }
    &:nth-child(9n + 4) {
      grid-column: span 6;
      grid-row: span 2;
    }
    &:nth-child(9n + 5) {
      grid-column: span 2;
      grid-row: span 2;
    }
    &:nth-child(9n + 6) {
      grid-column: span 4;
      grid-row: span 2;
    }
    &:nth-child(9n + 7) {
      grid-column: span 4;
      grid-row: span 2;
    }
    &:nth-child(9n + 8) {
      grid-column: span 2;
      grid-row: span 1;
      height: 14.5rem;
    }
    &:nth-child(9n + 9) {
      grid-column: span 2;
      grid-row: span 1;
      height: 14.5rem;
    }
  }
}
